
<div class="container_shop">

   
    <h1 class="titleshop">Bienvenido a Shopéame</h1>
 
 <div class="div_par1">
   <h3 >Qué es Shopéame?</h3>
 
 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit veniam dignissimos velit amet vel laudantium
     ipsam,
     sequi enim, adipisci quas, ut minus quo sapiente doloribus! Commodi sed architecto nemo reiciendis.</p>
 </div>
 
 <div class="div_par1"><h3>para qué puedo usar Shopéame</h3>
 
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At earum saepe officiis ipsa, nemo, sequi nesciunt dicta
     nihil optio obcaecati vitae esse iusto, dolorum alias recusandae quisquam similique nisi. Odit!</p>
 </div>
     
 <div class="div_par1"><h3>Quiénes hacemos en Shopéame</h3>
 
 
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quae alias facere sapiente at reiciendis architecto eos
     maiores aliquam, est ducimus dicta quibusdam facilis veritatis fugit ex dolor, laborum quam?</p>
 </div>
 
 <div class="div_par1"><h3>Es seguro usar Shopéame</h3>
 
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem voluptas aut mollitia magni veritatis
     provident, rem minus incidunt et velit tempora odio quo possimus veniam dignissimos suscipit ducimus impedit.</p>
 </div>
 </div>
 <div class="space">

 </div>