

.container_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3c3c3c;
    
  }
  
  .follow {
    margin-right: 10px;
  }
  
  .follow h4 {
    margin: 0;
    color: #c2c2c2
  }
  
  a {
    color: #c2c2c2;
    text-decoration: none;
    margin-right: 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .social h4 {
    margin: 0;
    font-size: 14px;
    color: #c2c2c2;
  }
  
